.main {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-gray-50);
  overflow-x: hidden;
  overflow-y: scroll;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.inputs {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  > label {
    font-size: 1.125rem;
    font-weight: 600;
  }

  > input {
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-gray-300);

    &:focus {
      border-color: var(--color-blue-500);
      outline: none;
    }
  }

  .error {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-red-500);
  }
}

.register {
  font-size: 1.0625rem;
  align-self: center;
  text-decoration-line: underline;
}

.submit {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-blue-500);

  &:disabled {
    background-color: var(--color-gray-300);
    cursor: not-allowed;
  }
}
