.wrapper {
  width: 100%;

  * {
    list-style: none;
  }
}

.tabList {
  display: flex;
  justify-content: space-between;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}