.main {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
}

.hospitalCard {
  align-items: stretch !important;

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
