@use '@/assets/styles/tailwind-all';
@use '@/assets/styles/fa-all';

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-rose-50);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}