@use 'tailwindcss';
@use '@/assets/styles/fa-all';

/** RESET **/
@layer base {
  html {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    all: unset;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol {
    list-style: none;
  }
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
