.main {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
}

.tabs {
  margin: -1rem -1rem 0 -1rem;
  padding: 0 1rem 0 1rem;
  border-bottom: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.tabs > a {
  flex: 1;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs > a.active {
  border-bottom: 2px solid var(--color-blue-700);
  font-weight: 500;
}

.guestCard {
  flex: 1;
  align-items: stretch !important;
  justify-content: center;
  gap: 1rem;
}
.guestCard > p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.guestCard > a {
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-blue-900);
}

.noReservations {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-600);
}

.reservations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reservationCard {
  align-items: stretch !important;
}
.reservationCard .row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.reservationCard .row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reservationCard .waiting {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.reservationCard .waiting > div {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-blue-600);
}
.reservationCard .waiting > div.pending {
  color: var(--color-yellow-500);
}
.reservationCard .waiting > div.finished {
  color: var(--color-gray-600);
}
.reservationCard .waiting > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-800);
}
.reservationCard h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.reservationCard span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-600);
}
.reservationCard .tag {
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-blue-700);
}
.reservationCard .tag.pending {
  background-color: var(--color-yellow-500);
}
.reservationCard .tag.finished {
  background-color: var(--color-gray-600);
}
.reservationCard .location {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: left;
  word-break: keep-all;
  color: var(--color-gray-500);
}
.reservationCard .time {
  margin-bottom: 0.5rem;
  align-self: flex-end;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: right;
  color: var(--color-gray-500);
}
.reservationCard .cancel {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-red-600);
  border-radius: 0.75rem;
  text-align: center;
  color: var(--color-red-600);
}
.reservationCard .cancel:hover {
  color: var(--color-red-700);
  background-color: var(--color-red-100);
}
.reservationCard .suggestion {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-blue-600);
  border-radius: 0.75rem;
  text-align: center;
  color: var(--color-blue-600);
}
.reservationCard .suggestion:hover {
  color: var(--color-blue-700);
  background-color: var(--color-blue-100);
}

/*# sourceMappingURL=page.module.css.map */
