.main {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-gray-50);
  overflow-x: hidden;
  overflow-y: scroll;
}

.footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: column;
}

.checkIn {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-blue-500);
  box-shadow: 0 0 1rem var(--color-gray-200);
}
